/* Add this to the existing CSS file */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    align-items: center;
}

.profile-username {
    font-size: 9px;
    color: #ffffff;
    text-align: center;
    
    /* Adjust the font size as needed */
}
.logout-icon {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
}